---
branches:
- master
plugins:
- @semantic-release/commit-analyzer
- @semantic-release/release-notes-generator
- @semantic-release/github
ci: false # Necessary as Concourse is not recognised as a CI provider...
